.button {
  font-weight: bold;
  padding: 8px;
}
.gray {
  background-color: rgb(211, 233, 251);
  color: rgb(0, 110, 255);
}
.blue {
  background-color: rgb(0, 110, 255);
  color: white;
}
